/* including any import file such as google fonts */
@import url('');


/* start basic typhography of css  */
*{margin:0;padding:0;}
* {box-sizing:border-box}
body{font-family:Sans-Serif, Arial;-webkit-transition:all 0.3s ease;transition:all 0.3s ease;}
/* img{width:100%;height:auto;} */
a{text-decoration:none;}
.container_full{width:100%; height:auto;    background: #DBDBDB}
.container{width:880px;margin:0 auto;display:block;}
.fix{overflow:hidden;} 
a:visited{color:inlineblue;}
a:focus{background:orange;}
.aligncenter{display:block;margin:0 auto;}
/* h1, h2, h3, h4, h5, h6{margin:30px 0;} */
p{line-height:150%;margin:1.5em;}
.floatleft{float:left;}
.floatright{float:right;}
ul{
text-decoration:none;	
}
li{
list-style-type:none;
    margin-left: 20px;
    margin-top: 10px;	
}
/* end basic typhography  */
.profileSkilSection{
	height:250px;
	background:#14A1BC;
	overflow:none;
}
.profileSkilSection .profilePic{
    width: 300px;
    height: 250px;
    float: left;
    background: #093041;
	margin-left: 15px;
}
.profileSkilSection .profilePic img{
	width: 192px;
    height: 208px;
    margin-left: 50px;
    margin-top: 22px;
    border: 2px solid #09778C;

}
.profileSkilSection .skill{
    width: 520px;
    height: 100px;
    float: left;
    display: block;
    margin-left: 30px;
}
.skillWrap{
	width:520px;
	height:50px;
}
.skill .skilContent{
	width:200px;
	height:50px;
	float:left;
	margin-right:50px;
	margin-bottom: 8px;
}

.skillsContainer {
  width: 100%;
  background-color: #09778c; 
}
.skilContent p{
	margin:2px;
	color:#fff;
	text-transform:uppercase;
	font-size: 14px;
} 
.skill h2{
	color:#fff;
	font-family:arial;
	font-weight:bold;
	margin-bottom: 10px;
	margin-top: 16px;
	font-size: 16px;
	/* text-decoration: underline; */
}
.skills {
  text-align: right; 
  padding-top: 2px;
  padding-bottom: 2px; 
  color: #fff;
}

.flutter {width: 80%; background-color: #093041;} 
.dart {width: 75%; background-color: #093041;} 
.html {width: 90%; background-color: #093041;} 
.javascript {width: 60%; background-color: #093041;} 
.bootstrap {width: 65%; background-color: #093041;} 
.php {width: 70%; background-color: #093041;}
 


.trainingAboutAddressFollowSection{
	height:800px;
	background:#fff;
}
.trainingAboutAddressFollowSection .leftSection{
	width:300px;
	height:800px;
	float:left;
	background: #093041;
	margin-left: 15px;
}
.resize{
	display:inline-block;
	width:26px;
	height:26px;
}
.trainingAboutAddressFollowSection .leftSection .address{
	padding:10px;
}

.trainingAboutAddressFollowSection .leftSection .address h2{
	font-family:arial;
	font-weight:bold;
	text-transform:uppercase;
	color:#fff;
	text-align: center;
	font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;

	
}

.trainingAboutAddressFollowSection .leftSection .address h3{
font-family: arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    border: 1px solid #ddd;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
		font-size: 16px;
}
.trainingAboutAddressFollowSection .leftSection .address p{
    font-family: arial;
    color: #fff;
    margin: 0px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 14px;
}
.trainingAboutAddressFollowSection .leftSection .about h3{
	font-family: arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    border: 1px solid #ddd;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
	font-size: 16px;
}
.trainingAboutAddressFollowSection .leftSection .about p{
	font-family: arial;
    color: #fff;
    text-align: justify;
	font-size:14px;
	margin-top: 15px;
}
.trainingAboutAddressFollowSection .leftSection .followMe h3{
	font-family: arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    border: 1px solid #ddd;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
}

.trainingAboutAddressFollowSection .leftSection .followMe a{
	font-family:arial;
	font-size:14px;
	color:#fff;
}
.trainingAboutAddressFollowSection .rightSection{
	width: 520px;
	height:800px;
	float:left;
}
.chip {
    display: inline-block;
    padding: 0 3%;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    border-radius: 50px;
    background-color:#f1f1f1;
	margin-top: 10px;
    margin-left: 20px;
}
.trainingAboutAddressFollowSection .rightSection h2{
    font-family: arial;
    font-weight: bold;
    padding: 15px;
    font-size: 16px;
    text-transform: uppercase;
}
.trainingAboutAddressFollowSection .rightSection .trainingSummaryH3{
    font-family: arial;
    font-weight: bold;
    padding-left: 15px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: -38px;
    margin-left: 50px;
}
.trainingAboutAddressFollowSection .rightSection .trainingSummary{
	height:100px;
}
.bottomTrainingSummary{
	margin-top:10px;
}
.trainingAboutAddressFollowSection .rightSection .institute{
    font-family: arial;
    padding-left: 30px;
    font-size: 16px;
	display:block;
}
.trainingAboutAddressFollowSection .rightSection .duration{
    font-family: arial;
    padding-left: 30px;
    font-size: 16px;
	display:block;
	margin-top: -20px;
}
.trainingAboutAddressFollowSection .rightSection .tarining1{
    font-family: arial;
    font-size: 14px;
    margin-top: -20px;
    margin-left: 75px;
}
.trainingAboutAddressFollowSection .rightSection .education h2{
	font-family: arial;
    font-weight: bold;
    padding: 15px;
    font-size: 16px;
    text-transform: uppercase;
}
.trainingAboutAddressFollowSection .rightSection .education .educationPart p{
    font-family: arial;
    font-size: 14px;
    margin-left: 35px;
    margin-top: 10px;
}
.educationPartH3{
	font-family: arial;
    font-weight: bold;
    padding-left: 15px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: -40px;
    margin-left: 50px;
}
.workingCapability{
	background:#fff;
	height:200px;
}
.workingCapabilityRight{
	background:#093041;
	height:100px;
	float:right;

}
.interested{
	    font-family: arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    border: 1px solid #ddd;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
}

.workingCapabilityLeft .capabilityH3{
	font-family: arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    border: 1px solid #ddd;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
	margin-top: 15px;
}

.workingCapability {
	height:200px;
}

.workingCapability .workingCapabilityLeft{
    float: left;
    width: 300px;
    height: 200px;
    background: #093041;
    margin-left: 15px;
}
.workingCapability .workingCapabilityRight .workingCapabilityContent{
	float:left;
	width:100px;
	margin-left: 13px;
	    margin-top: 125px;
	
}
.reference{
	background:#fff;
	height:200px;
}
.reference .referenceH3{
	font-family: arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    border: 1px solid #ddd;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
	margin-top:50px;
}
.raferanceScetion{
	float:left;
	height:200px;
	width:300px;
	background: #093041;
    margin-left: 15px;
	
}
.reference .leftReference{
	float:left;
    width: 250px;
    margin-top: 50px;
    margin-left: 15px;
	
}
.leftReference h2{
    font-family: arial;
    font-size: 16px;
    text-transform: uppercase;
}
.leftReference p{
    font-family: arial;
    font-size: 12px;
    text-transform: uppercase;
	margin: 6px;
}

.reference .rightReference{
	float:left;
    width: 250px;
    margin-top: 50px;
    margin-left: 15px;
	
}
.rightReference h2{
    font-family: arial;
    font-size: 16px;
    text-transform: uppercase;
}
.rightReference p{
    font-family: arial;
    font-size: 12px;
    text-transform: uppercase;
	margin: 6px;
	margin-right: 15px;
}

.leftDesign{
	width:300px;
	height:50px;
	background: #093041;
    margin-left: 15px;
}
.fotter{
	width:960px;
	min-height:50px;
	background:#14A1BC;
	margin-bottom:50px;
}



